.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5{
	position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

body{
	font-family: '微軟正黑體';
	padding-top: 68px;
	background-color:#686868;
	background-image: url('../images/point.png');
}
.navbar-user{
	height: 78px;
	border:none;
	border-radius: 0px;
	margin-bottom:0px;
	.navbar-toggle{
		margin-top: 22px;
		margin-bottom: 0;
		.icon-bar{
			transition:all .5s;
		}
		&.icon-bar-con{
			z-index: 999;
		}
		&.active{
			.icon-bar-a{
				transform:translateY(6px) rotate(135deg);
				transform-origin:center center;
			}
			.icon-bar-b{
				transform:scale(0);
			}
			.icon-bar-c{
				transform:translateY(-6px) rotate(-135deg);
				transform-origin:center center;
			}
		}
	}
	.navbar-header-icon{
		margin: 19px 0px 0 15px;
		z-index: 999;
	}
	.navbar-brand{
		&.navbar-logo{
			position: relative;
			float: none;
			display: block;
		}
		height: 78px;
		img{
			height: 48px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform:translate(-50%,-50%);
		}
	}
	#navbar-main{
		background-color: #ddd;
		.navbar-nav{
			margin: 0 0;
			.dropdown > a{
				line-height: 20px;
				padding: 10px 15px;
				color:#334854;
				position: relative;
				transition:all .5s;
				&:hover{
					color:#E04462;
					&:hover:before{
						opacity: 0;
					}
				}
				&:before{
					content:'';
					width:100%;
					position: absolute;
					height: 3px;
					top: 0;
					left: 0;
					background-color: #F9C535;
					opacity: 0;
					transition:all .5s;
				}
			}
			> .active > a{
				background-color: transparent;
				color:#E04462;
				&:before{
					opacity: 0;
				}
			}
		}
	}
	.search-icon,
	.user-icon{
		padding: 6px 8px;
		font-size: 20px;
		vertical-align: middle;
		&:active,
		&:hover,
		&:focus{
			text-decoration: none;
		}
	}
	.user-icon{
		padding: 9px 12px;
		border:1px solid #ccc;
		border-radius: 50%;
	}
}


#bigbanner{
	background-image: url('../images/bigbanner/bg_slider.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 26px 0;
	.carousel-control.left,
	.carousel-control.right{
		background-image: none;
	}
	.bigbanner-bg{
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 50vw;
		border: 6px solid #fff;
		border-radius: 25px;
	}
	.bigbanner-prev,
	.bigbanner-next{
		position: absolute;
		transform:translateY(-50%);
	}
	.bigbanner-prev{
		top:50%;
		left: -50%;
	}
	.bigbanner-next{
		top:50%;
		right: -50%;
	}
}

#news{
	padding: 14px 0;
	width: 100%;
	background-color: #ededed;
	.news-content-col{
		margin-bottom: 6px;
	}
	.news-title-box{
		padding: .6em;
		font-size: 16px;
		border: 1px solid #ccc;
		background-color: #fff;
		border-radius: 12px 12px 0 0;
		font-weight: 700;
		margin-bottom: 2px;
		position: relative;
		box-shadow: 0 0 3px rgba(147,147,147,.6);
		.news-title span{
			font-size: 12px;
			color:#dd1029;
			margin-left: 6px;
		}
		.news-more{
			cursor: pointer;
		}
		&:before{
			content:'';
			width: 100%;
			height: 3px;
			background-color: #53a239;
			position: absolute;
			bottom: 3px;
			left: 0;
		}
	}
	.news-content-box{
		padding: 1em;
		border: 1px solid #ccc;
		border-radius: 0 0 12px 12px;
		background-color: #fff;
		box-shadow: 0 0 3px rgba(147,147,147,.6);
		position: relative;
		&:before{
			content:'';
			width: 100%;
			height: 3px;
			background-color: #53a239;
			position: absolute;
			bottom: 9px;
			left: 0;
		}
		.news-content{
			margin-bottom: 9px;
			span a{
				font-size: 1vw;
			}
		}
		.news-icon{
			margin-right: 3px;
			border-radius: 50%;
			padding: 3px;
			font-size: 8px;
			color: #fff;
			vertical-align: middle;
			text-align: center;
		}
		.news-icon1{
			background-color: #cec711;
		}
		.news-icon2{
			background-color: #5f68ae;
		}
		.news-icon3{
			background-color: #ea5404;
		}
		.news-date{
			color:#d21529;
			font-size: 10px;
		}
	}
	.news-talk-tabs{
		border-bottom: none;
		li{
			a{
				margin-right: 0;
				background-color: #fff;
				text-align: center;
				color: #000;
				font-weight: 900;
				font-size: 16px;
				padding: 9px 15px;
				border: 1px solid #ccc;
			}
			&.active a{
				background-color: #2ed2c1;
				color:#fff;
				border: 1px solid transparent;
			}
			width: 50%;
		}
	}
	.news-talk-content{
		background-color: #fff;
		padding: 1em;
		border: 1px solid #ccc;
		border-radius: 0 0 12px 12px;
		position: relative;
		box-shadow: 0 2px 2px rgba(147,147,147,.2);
		&:before{
			content:'';
			width: 100%;
			height: 3px;
			background-color: #53a239;
			position: absolute;
			bottom: 9px;
			left: 0;
		}
		.news-talk-tab a{
			font-size: 1vw;
			display: block;
			margin-bottom: 5px;
		}
		.news-talk-box p{
			margin-bottom: 8px;
		}
		.news-talk-pane{
			.media-list{
				margin-bottom: 4px;
			}
			.news-talk-school{
				color:#B72A67;
			}
			.news-talk-name{
				margin-left: 12px;
			}
		}
	}
}

#banner{
	width: 100%;
	.container-fluid{
		.banner-row{
			.banner-col{
				padding-right: 0;
				padding-left: 0;
				.banner-bg{
					width: 100%;
					display: block;
					min-height: 116px;
				}
				&:nth-child(1) .banner-bg{
					background: url('https://unsplash.it/1200/800/?image=1084') no-repeat center;
					background-size: cover;
				}
				&:nth-child(2) .banner-bg{
					background: url('https://unsplash.it/1200/800/?image=1080') no-repeat center;
					background-size: cover;
				}
				&:nth-child(3) .banner-bg{
					background: url('https://unsplash.it/1200/800/?image=1074') no-repeat center;
					background-size: cover;
				}
				&:nth-child(4) .banner-bg{
					background: url('https://unsplash.it/1200/800/?image=1062') no-repeat center;
					background-size: cover;
				}
			}
		}
	}
}

#maga{
	background-color: #ededed;
	padding: 14px 0;
	.maga-title,
	.contact-me-title{
		padding: .6em;
		font-size: 16px;
		border: 1px solid #ccc;
		background-color: #fff;
		border-radius: 12px 12px 0 0;
		font-weight: 700;
		margin-bottom: 2px;
		position: relative;
		box-shadow: 0 0 3px rgba(147,147,147,.6);
		&:before{
			content:'';
			width: 100%;
			height: 3px;
			background-color: #6FE7DB;
			position: absolute;
			bottom: 3px;
			left: 0;
		}
	}
	.maga-box-col{
		margin-bottom: 6px;
	}
	.maga-content{
		padding: 1em;
		border: 1px solid #ccc;
		border-radius: 0 0 12px 12px;
		background-color: #fff;
		box-shadow: 0 0 3px rgba(147,147,147,.6);
		position: relative;
		&:before{
			content:'';
			width: 100%;
			height: 3px;
			background-color: #6FE7DB;
			position: absolute;
			bottom: 9px;
			left: 0;
		}
		.maga-col{
			margin-top: 0;
			font-size: 12px;
			padding-right: 6px;
			margin-bottom: 6px;
			.media-left{
				img{
					width: 30px;
					border: 1px solid #ddd;
					box-sizing:content-box;
				}
			}
		}
		.btn-maga{
			border-radius: 0;
			background-color: #37AA9C;
			border: 1px solid #94F3E4;
		}
	}
	.contact-me-col-1{
		margin-bottom: 6px;
	}
	.contact-me-content{
		padding: 1em;
		border: 1px solid #ccc;
		border-radius: 0 0 12px 12px;
		background-color: #fff;
		box-shadow: 0 0 3px rgba(147,147,147,.6);
		position: relative;
		&:before{
			content:'';
			width: 100%;
			height: 3px;
			background-color: #6FE7DB;
			position: absolute;
			bottom: 9px;
			left: 0;
		}
		.contact-me-col-2{
			padding-right: 6px;
			padding-left: 6px;
			text-align: center;
			.contact-me-icon{
				width: 28px;
				height: 28px;
				border: 2px solid black;
				font-size: 14px;
				line-height: 26px;
				margin-bottom: 12px;
				border-radius: 50%;
				cursor: pointer;
				text-align: center;
				transition:all .5s;
				&:hover{
					color:#fff;
				}
			}
			.fa-facebook{
				color:#3b5998;
				border: 2px solid #3b5998;
				&:hover{
					background-color: #3b5998;
				}
			}
			.fa-whatsapp{
				color:#4bc557;
				border: 2px solid #4bad54;
				&:hover{
					background-color: #4bc557;
				}
			}
			.fa-skype{
				color:#00aff0;
				border: 2px solid #0ea1d8;
				&:hover{
					background-color:#00aff0;
				}
			}
			.fa-google{
				color:#f31841;
				border: 2px solid #e9fd0a;
				&:hover{
					background-color: #f31841;
				}
			}
			.fa-commenting-o{
				color:#faaf2d;
				border: 2px solid #dc9823;
				&:hover{
					background-color: #faaf2d;
				}
			}
			.fa-envelope-o{
				color:#b51bc7;
				border: 2px solid #a11bb1;
				&:hover{
					background-color: #b51bc7;
				}
			}
		}
	}
	.else-banner{
		width: 100%;
		margin-bottom: 6px;
	}
}

#school-photo{
	background-image: url('../images/collage.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	padding: 14px 0;
	.carousel-control.left,
	.carousel-control.right{
		background-image: none;
	}
	.carousel-control{
		width: 0%;
		&.left{
			left: -5%;
		}
		&.right{
			right:-5%;
		}
	}
	.photo-bg{
		display: block;
		height: 82px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0 auto;
		border: 3px solid #fff;
		box-sizing:content-box;
		border-radius:6%;
	}
}

#ad-box{
	background-color: #fff;
	padding: 14px 0;
	.carousel-control.left,
	.carousel-control.right{
		background-image: none;
	}
	.carousel-indicators{
		bottom: -25px;
		.active{
			background-color: #9c9c9c;
			margin: 0px 4px;
		}
		li{
			width: 12px;
			height: 12px;
			border:1px solid #9c9c9c;
			margin: 0px 4px;
		}
	}
	.ad-col{
		padding-left: 0;
		padding-right: 0;
	}
	.ad-bg{
		display: block;
		width: 100%;
		height: 80px;
		background:no-repeat center;
		background-size: contain;
	}
}

footer{
	background-color: #272b35;
	color: #fff;
	font-size: 10px;
	.footer-list{
		margin: 8px 0;
		padding-left: 0;
		.footer-title-icon{
			margin-left: 6px;
		}
		li{
		&:first-child{
			color:#c2c2c2;
			font-size:14px;
			background-color: #303542;
			padding: 4px 12px;
			box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
		}
			list-style-type: none;
			margin: 6px 0;
			a{
				color: #fff;
			}
		}
	}
	.footer-img-box{
		margin: 0px 0;
	}
	.footer-map-icon{
		width: 48px;
		height: 48px;
		text-align: center;
		line-height: 48px;
		font-size: 26px;
		border: 2px solid rgba(255,255,255,.2);
		border-radius: 50%;
		color: rgba(255,255,255,.2);
		transition:all .5s;
		cursor:pointer;
		display: block;
		margin: 6px auto;
		&:hover{
			border: 2px solid rgba(255,255,255,1);
			color: rgba(255,255,255,1);
		}
	}
	.btn-banner-bar{
		img{
			width:100%;
		}
	}
}
@media (min-width:332px){
	.ad-bg{
		background-size: contain;
	}
}
@media (min-width: 768px) {
	body{
		padding-top: 78px;
	}
	.col-sm-1-5{
        width: 20%;
        float: left;
    }
	.navbar-user {
		height: 78px;
		.navbar-brand {
			&.navbar-logo{
				position: static;
				float: left;
				display: block;
			}
			height: 78px;
			img{
				position: static;
				height: 48px;
				transform:translate(0,0);
			}
		}
		#navbar-main{
			background-color: transparent;
			.navbar-nav{
				.dropdown > a{
					line-height: 78px;
					padding: 0 15px;
					&:hover{
						color:#E04462;
						&:hover:before{
							opacity: 1;
						}
					}
					&:before{
						content:'';
						width:100%;
						position: absolute;
						height: 3px;
						top: 0;
						left: 0;
						background-color: #F9C535;
						opacity: 0;
						transition:all .5s;
					}
				}
				> .active > a{
					background-color: transparent;
					color:#E04462;
					&:before{
						opacity: 1;
					}
				}
				&.navbar-btn{
					margin-top: 22px;
					margin-bottom: 0;
				}
			}
		}
	}
    #bigbanner{
    	margin: 6px 0;
    	overflow: hidden;
		padding: 26px 0;
		.bigbanner-bg{
			height: 360px;
			border: 6px solid #fff;
			border-radius: 25px;
		}
		.zoombg{
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			img{
				width: 100%;
				object-fit:cover;
				animation:zoomImg 60s linear 1s infinite;
			}
		}
	}
    .news-content-col{
		margin-bottom: 0px;
	}
	#maga{
    	.maga-content{
    		.maga-col{
				.media-left{
					img{
						width: 46px;
					}
				}
			}
    	}
    	.contact-me-content{
    		.contact-me-col-2{
    			padding-right: 15px;
				padding-left: 15px;
				.contact-me-icon{
					width: 40px;
					height: 40px;
					font-size: 18px;
					line-height: 38px;
					margin-bottom: 12px;
					border-radius: 50%;
				}
			}
    	}
	}
    #ad-box{
    	padding: 24px 0;
    	.carousel-indicators{
    		bottom: -28px;
    	}
    	.ad-bg{
			background-size: auto;
		}
    }
    #banner .container-fluid .banner-row .banner-col .banner-bg{
		min-height: 128px;
	}
	footer{
		font-size: 14px;
		.footer-list{
			margin: 18px 0;
			li{
				&:first-child{
					font-size:18px;
					background-color: transparent;
					padding: 0px 0px;
					border-radius: 0;
					box-shadow: 0 0 0 0;
				}
			}
		}
		.footer-img-box{
			margin: 0px 0;
		}
		.footer-map-icon{
			width: 48px;
			height: 48px;
			line-height: 48px;
			font-size: 26px;
			margin: 0px auto;
		}
	}
	@keyframes zoomImg{
		0%{
			transform:scale(1);
		}
		50%{
			transform:scale(1.25);
		}
		100%{
			transform:scale(1);
		}
	}
}
@media (min-width: 992px) {
	body{
		padding-top: 78px;
	}
    .col-md-1-5{
        width: 20%;
        float: left;
    }
    .navbar-nav{
		padding-left:50px;
	}
	#maga{
    	.maga-content{
    		.maga-col{
				.media-left{
					img{
						width: 46px;
					}
				}
			}
    	}
	}
	#banner .container-fluid .banner-row .banner-col .banner-bg{
		min-height: 200px;
	}
	#ad-box .container{
		width: 920px;
		.ad-bg{
			background-size: auto;
		}
	}
	footer{
		.footer-img-box{
			margin: 18px 0;
		}
	}
	#search-bar .container{
		width: 800px;
	}
	.bigbanner-box,
	.news-box,
	.maga-box,
	.school-photo-box,
	.footer-box{
		width: 920px;
	}
}
@media (min-width: 1200px) {
	body{
		padding-top: 78px;
	}
    .col-lg-1-5{
        width: 20%;
        float: left;
    }
    .search-icon{
    	margin-right: 12px;
    }
    #maga{
    	.maga-content{
    		.maga-col{
				.media-left{
					img{
						width: 60px;
					}
				}
			}
    	}
	}
    #banner .container-fluid .banner-row .banner-col .banner-bg{
		min-height: 226px;
	}
	#ad-box .container{
		width: 970px;
		.ad-bg{
			background-size: auto;
		}
	}
	#search-bar .container{
		width: 800px;
	}
	.bigbanner-box,
    .news-box,
    .maga-box,
    .school-photo-box,
    .footer-box{
		width: 970px;
	}
}